import pymysql.cursors

rds_db = pymysql.connect(host='XXXX.rds.amazonaws.com',
                             user='XXXX',
                             password='XXXX',
                             db='XXXX',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
